@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Kumbh+Sans:wght@400;700&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}
body h1 {
  font-family: "Bungee Inline", cursive, sans-serif;
  font-weight: 100;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header h1 {
  margin: 30px 0 40px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.menu label:hover {
  cursor: pointer;
}
.menu__turn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}
.menu__turn__radioCont {
  width: 47px;
}
.menu__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}
.menu__timer__radioCont {
  width: 70px;
}
.menu__player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}
.menu__player__radioCont {
  width: 28px;
}
.menu__difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}
.menu__difficulty__radioCont {
  width: 70px;
}
.menu__btnCont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__btnCont__playBtn {
  border: 2px solid #141414;
  background: #cfcfcf;
  border-radius: 15px;
  width: 50px;
  height: 50px;
}
.menu__btnCont__playBtn:hover {
  background: white;
  border: 4px solid #141414;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px 0;
}
.game__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}
.game__top__turnLeft {
  width: 98px;
}
.game__top__timer {
  width: 98px;
}
.game__top__input {
  width: 40%;
  height: 30px;
  font-size: 1.4em;
  text-align: center;
}
.game__top__input--off {
  pointer-events: none;
  user-select: none;
}
.game__mid {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 50px 0;
}
.game__mid__btn {
  width: 90px;
  height: 50px;
  border-radius: 10px;
  border: black 2px solid;
  background: #c2c2f8;
}
.game__mid__btn:hover {
  cursor: pointer;
}
.game__mid__btn--off {
  pointer-events: none;
  user-select: none;
}
.game__mid__less {
  text-align: center;
  width: 65px;
  border-radius: 3px;
}
.game__mid__less p {
  line-height: 50px;
}
.game__mid__less p {
  background: #a33333;
}
.game__mid__more {
  text-align: center;
  width: 65px;
  border-radius: 3px;
}
.game__mid__more p {
  line-height: 50px;
}
.game__mid__more p {
  background: #198319;
}
.game__bot {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 2px;
  width: 40%;
  height: 180px;
  text-align: center;
  overflow: scroll;
}
.game__bot__less {
  font-size: 1.3em;
  margin-bottom: 5px;
  background: #a33333;
}
.game__bot__more {
  font-size: 1.3em;
  margin-bottom: 5px;
  background: #198319;
}
.game__bot__good {
  font-size: 1.3em;
  margin-bottom: 5px;
  background: #20fafa;
}
.game__bot__status {
  font-size: 1.7em;
}
.game__bot__status--win {
  color: #0e740e;
}
.game__bot__status--lose {
  color: #b90505;
}

.modaleP2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.753);
  color: rgba(0, 0, 0, 0.938);
}
.modaleP2__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 35px;
  border-radius: 10px;
  user-select: none;
}
.modaleP2__cont__input {
  margin: 30px 0 20px 0;
  height: 40px;
  font-size: 1.4em;
  text-align: center;
}
.modaleP2__cont__input--error {
  border: 2px solid #d30303;
  color: #d30303;
}
.modaleP2__cont__input:focus {
  outline-style: none;
}
.modaleP2__cont__btn {
  width: 60px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.938);
  border-radius: 10px;
}
.modaleP2__cont__btn:hover {
  border: 4px solid rgba(0, 0, 0, 0.938);
  cursor: pointer;
}
.modaleP2--off {
  display: none;
}

.backToHome {
  position: fixed;
  left: 0;
  top: 20px;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(128, 128, 128, 0.289);
  border-radius: 0 40px 40px 0;
  background: rgba(128, 128, 128, 0.189);
}
.backToHome p {
  line-height: 40px;
  white-space: nowrap;
  font-size: 0.7em;
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.644);
}
.backToHome p:hover {
  color: black;
}
.backToHome:hover {
  border-right: black 1px solid;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
