@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Signika+Negative:wght@500&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.game__word {
  font-family: "Signika Negative", sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__alphab {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__alphab__line {
  display: flex;
}
.game__alphab__line__letter {
  width: 40px;
  height: 40px;
  background: blue;
  border: 1px solid white;
  color: white;
  line-height: 38px;
  text-align: center;
}
.game__alphab__line__letter:hover {
  background: #2e2ebe;
  cursor: pointer;
}
.game__alphab__line__letter--chosen {
  background: red;
}
.game__alphab__line__letter--chosen:hover {
  background: rgba(233, 21, 21, 0.726);
}
.game__hangedContainer {
  width: 400px;
  height: 400px;
}
.game__hangedContainer__part1 {
  position: relative;
  top: 360px;
  left: 20px;
}
.game__hangedContainer__part1 img {
  height: 10px;
}
.game__hangedContainer__part2 {
  position: relative;
  top: 77px;
  left: 77px;
}
.game__hangedContainer__part2 img {
  width: 10px;
}
.game__hangedContainer__part3 {
  position: relative;
  top: -206px;
  left: 85px;
}
.game__hangedContainer__part4 {
  position: relative;
  z-index: 10;
  top: -300px;
  left: 280px;
}
.game__hangedContainer__part5 {
  z-index: 5;
  position: relative;
  top: -350px;
  left: 275px;
}
.game__hangedContainer__part5 img {
  border-radius: 100px;
  width: 80px;
  transform: rotateZ(130deg);
}
.game__hangedContainer__part6 {
  position: relative;
  z-index: 5;
  top: -375px;
  left: 270px;
}
.game__hangedContainer__part6 img {
  width: 6px;
  transform: rotateZ(15deg);
}
.game__hangedContainer__part7 {
  position: relative;
  z-index: 1;
  top: -455px;
  left: 270px;
}
.game__hangedContainer__part7 img {
  height: 6px;
  transform: rotateZ(60deg);
}
.game__hangedContainer__part8 {
  position: relative;
  z-index: 1;
  top: -478px;
  left: 243px;
}
.game__hangedContainer__part8 img {
  height: 6px;
  transform: rotateZ(330deg);
}
.game__hangedContainer__part9 {
  position: relative;
  z-index: 1;
  top: -422px;
  left: 262px;
}
.game__hangedContainer__part9 img {
  width: 6px;
  transform: rotateZ(355deg);
}
.game__hangedContainer__part10 {
  position: relative;
  z-index: 1;
  top: -495px;
  left: 248px;
}
.game__hangedContainer__part10 img {
  width: 6px;
  transform: rotateZ(15deg);
}
.game__hangedContainer--off {
  display: none;
}
.game__word {
  display: flex;
}
.game__word__letterContainer {
  width: 23px;
}
.game__word__letterContainer__letter {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7em;
}
.game__word__letterContainer--off {
  display: none;
}
.game__changeWordBtn {
  border: initial;
  height: 40px;
  width: 130px;
  background: blue;
  font-size: 1.1em;
  color: white;
  border-radius: 40px;
  margin-top: 40px;
}
.game__changeWordBtn:hover {
  background: white;
  border: blue 3px solid;
  color: blue;
  cursor: pointer;
}
.game--off {
  display: none;
}

.resultContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.938);
  color: white;
}
.resultContainer h1 {
  font-size: 4em;
  margin-top: -250px;
}
.resultContainer h3 {
  font-size: 2em;
  margin: 40px 0 40px 0;
}
.resultContainer__btn {
  border: initial;
  height: 40px;
  width: 130px;
  background: blue;
  font-size: 1.1em;
  color: white;
  border-radius: 40px;
  margin-top: 40px;
}
.resultContainer__btn:hover {
  background: white;
  border: blue 3px solid;
  color: blue;
  cursor: pointer;
}
.resultContainer--off {
  display: none;
}

header {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
