@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Kumbh+Sans:wght@400;700&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 100;
  text-align: center;
  margin-top: 40px;
  font-family: "Bungee Inline", cursive, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 100px;
}

.navDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: grid;
  grid-template: 45px 7px 100px 20px 40px 10px 40px 20px / repeat(3, 1fr);
  width: 60%;
  border: 1px black solid;
  border-radius: 10px;
}

.submitBtn {
  width: auto;
  height: auto;
  background: rgb(98, 182, 98);
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitBtn:hover {
  cursor: pointer;
  background: rgb(76, 143, 76);
}

.submitIntern {
  border-radius: 5px;
  border: 2px solid black;
  height: 80%;
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitIntern p {
  font-weight: bold;
  font-size: 2.5em;
}

.startGameBtn {
  width: 50px;
  height: 50px;
  line-height: 46px;
  white-space: nowrap;
  background: gray;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
}

.startGameBtn:hover {
  cursor: pointer;
  background: #000;
  color: gray;
  border: gray 1px solid;
}

.lastPropose {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  text-align: center;
  font-size: 2.5em;
}

#playerPropose {
  grid-column: 2 / 3;
  margin-top: 7px;
  font-size: 1.4em;
  text-align: center;
}

.leftContainer {
  grid-row: 5 / 6;
  display: flex;
  justify-content: center;
}

.statusLeft {
  text-align: center;
  line-height: 40px;
  width: 100px;
  background: red;
  border-radius: 5px;
  font-weight: bold;
  border: 1px black solid;
}

.rightContainer {
  grid-row: 5 / 6;
  grid-column: 3;
  display: flex;
  justify-content: center;
}

.statusRight {
  text-align: center;
  line-height: 40px;
  width: 100px;
  background: red;
  border-radius: 5px;
  font-weight: bold;
  border: 1px black solid;
}

.resultStatus {
  grid-row: 7 / 8;
  grid-column: 2 / 3;
  text-align: center;
  line-height: 40px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.8em;
}

.countContainer {
  grid-column: 1;
  grid-row: 1;
  line-height: 45px;
  white-space: nowrap;
  margin-left: 10px;
  display: flex;
}

.invisible {
  display: none;
}

.green {
  color: green;
}

.recovery {
  position: fixed;
  z-index: 100;
  height: 40%;
  width: 60%;
}

.hidden {
  visibility: hidden;
}

#timer {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: end;
  line-height: 40px;
  margin-right: 10px;
  font-size: 1.1em;
}

.backToHome {
  position: fixed;
  left: 0;
  top: 20px;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(128, 128, 128, 0.289);
  border-radius: 0 40px 40px 0;
  background: rgba(128, 128, 128, 0.189);
}

.backToHome p {
  line-height: 40px;
  white-space: nowrap;
  font-size: 0.7em;
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.644);
}

.backToHome:hover {
  border-right: black 1px solid;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  cursor: pointer;
}

.backToHome:hover p {
  color: black;
}

/* MQ 950px */

@media screen and (max-width: 950px) {
  main {
    width: 90%;
  }

  .recovery {
    width: 90%;
  }

  nav {
    display: grid;
    grid-template: 35px 30px 35px 30px 35px 30px 35px 30px 40px 20px / repeat(
        6,
        1fr
      );
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  label {
    line-height: 13px;
    margin-left: 2px;
    margin-right: 13px;
  }

  .nav-turnByTurn {
    grid-row: 1 / 2;
    grid-column: 2/6;
  }

  .nav-timer {
    grid-row: 3 / 4;
    grid-column: 2/6;
  }

  .nav-player {
    grid-row: 5 / 6;
    grid-column: 2/6;
  }

  .nav-lvl {
    grid-row: 7 / 8;
    grid-column: 2/6;
  }

  .radioContainer {
    display: flex;
    justify-content: space-between;
  }

  .radioContainer-container {
    display: flex;
  }

  .startGameBtn {
    height: auto;
    width: auto;
    grid-column: 2 / 6;
    grid-row: 9 / 11;
  }
}

/* MQ 600px */

@media screen and (max-width: 600px) {
  main {
    width: 90%;
    grid-template-columns: 30px 1fr 150px 1fr 30px;
  }

  .leftCount {
    display: none;
  }

  #playerPropose {
    grid-column: 3 / 4;
  }

  .submitBtn {
    grid-column: 3 / 4;
  }

  .resultStatus {
    grid-column: 3 / 4;
  }

  .lastPropose {
    grid-column: 3 / 4;
  }

  .leftContainer {
    grid-column: 2 / 3;
  }

  .statusLeft {
    width: auto;
  }

  .rightContainer {
    grid-column: 4 / 5;
  }

  .statusRight {
    width: auto;
  }
}
