main {
    display: flex;
    justify-content: center;
    user-select: none;
}

.gameContainer {
    display: grid;
    grid-gap: 5px;
    &--12 {
        grid-template: 80px 80px 80px / 112.58px 112.58px 112.58px 112.58px;
        @include tablet-only {
            grid-template: 53.33px 53.33px 53.33px / 75.05px 75.05px 75.05px 75.05px;
        }
        @include mobile-only {
            grid-template: 75.05px 75.05px 75.05px / 53.33px 53.33px 53.33px 53.33px;
        }
    }
    &--16 {
        grid-template: 80px 80px 80px 80px/ 112.58px 112.58px 112.58px 112.58px;      
        @include tablet-only {
            grid-template:   53.33px 53.33px 53.33px 53.33px/ 75.05px 75.05px 75.05px 75.05px; 
        }
        @include mobile-only {
            grid-template:   75.05px 75.05px 75.05px 75.05px/ 53.33px 53.33px 53.33px 53.33px; 
        }
    }
    &--20 {
        grid-template: 80px 80px 80px 80px / 112.58px 112.58px 112.58px 112.58px 112.58px;
        @include tablet-only {
            grid-template: 53.33px 53.33px 53.33px 53.33px / 75.05px 75.05px 75.05px 75.05px 75.05px;
        }
        @include mobile-only {
            grid-template: 75.05px 75.05px 75.05px 75.05px / 53.33px 53.33px 53.33px 53.33px 53.33px;
        }
    }
    &--24 {
        grid-template: 80px 80px 80px 80px / 112.58px 112.58px 112.58px 112.58px 112.58px 112.58px;
        @include tablet-only {
            grid-template: 53.33px 53.33px 53.33px 53.33px / 75.05px 75.05px 75.05px 75.05px 75.05px 75.05px;
        }
        @include mobile-only {
            grid-template: 75.05px 75.05px 75.05px 75.05px / 53.33px 53.33px 53.33px 53.33px 53.33px 53.33px;
        }
    }
    &--30 {
        grid-template: 80px 80px 80px 80px 80px / 112.58px 112.58px 112.58px 112.58px 112.58px 112.58px;
        @include tablet-only {
            grid-template: 53.33px 53.33px 53.33px 53.33px 53.33px / 75.05px 75.05px 75.05px 75.05px 75.05px 75.05px;
        }
        @include mobile-only {
            grid-template: 75.05px 75.05px 75.05px 75.05px 75.05px / 53.33px 53.33px 53.33px 53.33px 53.33px 53.33px;
        }
    }
    &--36 {
        grid-template: 80px 80px 80px 80px 80px 80px / 112.58px 112.58px 112.58px 112.58px 112.58px 112.58px;
        @include tablet-only {
            grid-template: 53.33px 53.33px 53.33px 53.33px 53.33px 53.33px / 75.05px 75.05px 75.05px 75.05px 75.05px 75.05px;
        }
        @include mobile-only {
            grid-template: 75.05px 75.05px 75.05px 75.05px 75.05px 75.05px / 53.33px 53.33px 53.33px 53.33px 53.33px 53.33px;
        }
    }
    &__container {
        &:hover {
            cursor: pointer;
        }
        &__cards {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            &__front {
                @include card;
                border-radius: 5px;
                img {
                    width: 112.58px;
                    @include tablet-only {
                        width: 75.05px;
                    }
                    @include mobile-only {
                        transform:rotateZ(90deg) translateX(15%) translateY(21%);
                    }
                }
            }
            &__back {
                background: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                width: 100%;height: 100%;
                border : solid rgba(0, 0, 0, 0.247) 1px ;
                -ms-transform: rotateX(180deg);  
                transform: rotateX(180deg);  
                @include card; 
                &__value {
                    font-size: 2.2em;
                }           
            }
        }
        &--invisible {
            opacity: 0;
            pointer-events: none;
        }
        &--off {
            display: none;
        }
    }
}

.turn .gameContainer__container__cards {
            -ms-transform: rotateX(180deg);
            transform: rotateX(180deg);
}

.resultContainer {
    margin-top: 80px;
    text-align: center;
    h3 {
        margin: 20px 0 40px 0;
    }
    &__newBtn {
        width: 110px;height: 40px;
        font-weight: bold;
        border-radius: 40px;
        border: 5px solid black;
        background: rgb(218, 217, 217);
        &:hover {
            background: black;
            color: rgb(218, 217, 217) ;
            cursor: pointer;
        }
    }
}