.backToHome {
    position: fixed;
    left: 0;
    top: 20px;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(128, 128, 128, 0.289);
    border-radius: 0 40px 40px 0;
    background: rgba(128, 128, 128, 0.189);
    p {
        line-height: 40px;
        white-space: nowrap;
        font-size: 0.7em;
        margin-left: 3px;
        color: rgba(0, 0, 0, 0.644);
        &:hover {
            color: black;
        }
    }
    &:hover {
        border-right: black 1px solid;
        border-top: black 1px solid;
        border-bottom: black 1px solid;
        cursor: pointer;
    }
    @include mobileOnly {
        top: 65px;          
    }
  }
  