.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__result {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 400px;
        z-index: 1000;
        h2 {
            text-align: center;
            font-size: 4em;
            color:white;
            text-transform: uppercase;
        }
        &__btn {
            width: 120px;
            height: 60px;
            border : none;
            border-radius: 60px;
            margin-top: 15px;
            font-size: 1.5em;
            &:hover {
                cursor: pointer;
                border: solid 4px black;
            }
        }
        &--off {
            display: none;
        }
    }
    &__darken {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: black;
        opacity: 0.8;
    }
    &__grid {
        display: grid;
        width: 950px;
        border: 20px solid blue;
        grid-template :auto / repeat(7, 130px);
        &__column {
            background: blue;
            &__case {
                height: 130px;width: 130px;
                border: 5px blue solid;
                border-radius: 130px;
                background: white;
            }
        }
    }
}


.red {
    background: red;
}

.yellow {
    background: yellow;
}