@mixin card {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

@mixin tablet-only {
    @media screen and (max-width: map-get($queries, tablet)) {
        @content;
      }
}

@mixin mobile-only {
    @media screen and (max-width: map-get($queries, mobile)) {
        @content;
      }
}