header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 52px;
}

h1 {
    margin-left: 45px;
}

.hamb {
    height: 20px;
    cursor: pointer;
    z-index: 1;
    &:hover {
        opacity: 0.7;
    }
}

.menu {
    position: fixed;
    z-index: 10;
    top: 0;left: 0;
    padding: 17px 30px 30px 10px;
    background: rgb(245, 245, 245);
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0 0 15px 0;
    &__closeBtn {
        cursor: pointer;
        height: 20px;
        margin-bottom: 15px;
        &:hover {
            opacity: 0.7;
        }
    }
    &--off {
        display: none;
    }
    &__list {
        margin-top: 5px;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}

.lang {
    display: flex;
    width: 70px;
    justify-content: space-between;
    &__img {
        width: 30px;
        height: 24px;
        opacity: 0.4;
        border-radius: 30px;
        cursor: pointer;
        &--selected {
            opacity: 1;
        }
        &:hover {
            border: 2px solid blue;
            opacity: 1;
        }
    }
}