@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Kumbh+Sans:wght@400;700&display=swap");

body {
    font-family: "Kumbh Sans", sans-serif;
    h1 {
        font-family: "Bungee Inline", cursive, sans-serif;
        font-weight: 100;
    }
}