*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 40px 0 80px 0;
}

.h2Title {
  font-size: 1.3em;
  margin: 20px 0 35px 0;
}

.transform {
  transform: translateX(-100%);
}

.transformReturn {
  transform: translateX(100%);
}

.topContainer {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botContainer {
  border: 1px black solid;
  border-radius: 15px;
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
}

.botContainer-classic {
  position: relative;
  transition: transform 0.3s ease-out;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.botContainer-lizardSpock {
  position: absolute;
  left: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.botContainer-classic h2 {
  text-align: center;
}

.botContainer-lizardSpock h2 {
  text-align: center;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.choseBtn {
  height: 50px;
  width: 70px;
}

.invisible {
  visibility: hidden;
}

.radioLabelContainer {
  display: flex;
}

.radioContainer {
  display: flex;
}

.radioContainer-round {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  justify-content: space-around;
}

.radioContainer-option {
  display: flex;
  flex-direction: column;
}

.radioContainer-option-difficulty {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 0 10px 0 0;
  padding: 10px;
}

.radioContainer-option-players {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 0 0 10px 0;
  padding: 10px;
}

label {
  margin-left: 5px;
  margin-top: 3px;
}

input[type="radio"] {
  margin: 5px 0;
}

#modeChange {
  width: 130px;
  height: 40px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.menuBtn {
  width: 280px;
  height:  20px;
}

.win {
  text-align: center;
}

.score {
  display: flex;
  justify-content: space-around;
}

.scoreContainer {
  border: 1px black solid;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 10px;
}

.choseStatusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.choseStatus {
  margin: 0 100px;
  height: 100px;
  width: 100px;
  border: solid black 2px;
  border-radius: 10px;
  line-height: 100px;
  white-space: nowrap;
  text-align: center;
}

.winStatus {
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 1.2em;
}

.backToHome {
  position: fixed;
  left: 0;
  top: 20px;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(128, 128, 128, 0.289);
  border-radius: 0 40px 40px 0;
  background: rgba(128, 128, 128, 0.189);
}

.backToHome p {
  line-height: 40px;
  white-space: nowrap;
  font-size: 0.7em;
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.644);
}

.backToHome:hover {
  border-right: black 1px solid;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  cursor: pointer;
}

.backToHome:hover p {
  color: black;
}

.menuOff {
  display: none;
}

@media screen and (max-width: 1180px) {
  .botContainer {
    width: 90%;
  }

  .choseStatus {
    margin: initial;
  }

  .choseStatusContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 40px;
  }
}
