header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 20px 0 50px 0;
    }
}

.menuContainer {
    &__btn {
        height: 20px;
        width: 100%;
        min-width: 235px;
        text-transform: uppercase;
        &:hover {
            background: $colorHover;
            cursor: pointer;
            border : solid 1px rgba(0, 0, 0, 0.438);
            border-radius: 3px;
        }
    }
    &__menu {
        &__links {
            border-right:solid black 1px;
            border-left:solid black 1px;
            li {
                list-style: none;
                text-align: center;
                margin: 5px;
                &:hover {
                    color: darken($color: $colorHover, $amount: 30);
                    text-decoration:underline;
                    cursor: pointer;
                }
            }
        }
        &__options {
            &__radios {
                display: flex;
                border : solid black 1px;
                border-radius: 5px 5px 0 0;
                &__left {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 10px;
                    &__radioLabel {
                        &:hover {
                            color: darken($color: $colorHover, $amount: 30);  
                        }
                    }
                }
                &__right {
                    border-left: black solid 1px;
                    &__difficulty {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        border-bottom: solid black 1px;
                        padding: 10px ;
                        &__radioLabel {
                            &:hover {
                                color: darken($color: $colorHover, $amount: 30);  
                            }
                        }
                    }
                    &__versus {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 10px ;
                        &__radioLabel {
                            &:hover {
                                color: darken($color: $colorHover, $amount: 30);  
                            }
                        }
                    }
                }
            }
            &__btns {
                display: flex;
                border : solid 1px black;
                &__btn {
                    width: 50%;
                    min-height: 30px;
                    background: white;
                    border: initial;
                    border-bottom: solid black 1px;
                    border-left: solid black 1px;
                    border-right: solid black 1px;
                    &:hover {
                        background: $colorHover;
                        cursor: pointer;
                    }
                    &--selected {
                        background: lighten($color: $colorHover, $amount: 10)
                    }
                }
            }
        }
        &--off {
            display: none;
        }
    }
}