*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.diceContainer {
  display: flex;
  margin: 20px 0 20px 0;
}

.dice {
  height: 100px;
  width: 100px;
  background: rgba(136, 85, 255, 0.404);
  border: solid 2px black;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.diceNumber {
  font-size: 4em;
  text-align: center;
  line-height: 100px;
  white-space: nowrap;
}

.diceSelected {
  background: rgba(0, 0, 255, 0.74);
}

.coverLaunchDice {
  position: fixed;
  width: 150px;
  height: 40px;
  z-index: 100;
}

.coverPlay {
  position: fixed;
  width: 150px;
  height: 40px;
  z-index: 100;
}

.launchDice {
  border: solid black 1px;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  white-space: nowrap;
  border-radius: 10px;
}

.launchDice:hover {
  background-color: lightblue;
  cursor: pointer;
}

.play {
  border: solid black 1px;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  white-space: nowrap;
  margin: 0 50px 0 10px;
}

.play:hover {
  background-color: lightblue;
  cursor: pointer;
}

.reset {
  border: solid black 1px;
  width: 50px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  white-space: nowrap;
  border-radius: 10px;
}

.reset:hover {
  background-color: lightblue;
  cursor: pointer;
}

.scoreContainer {
  display: grid;
  grid-template: repeat(7, 100px) / repeat(2, 1fr);
  border: black 2px solid;
  border-radius: 5px;
}

.score,
.bonus {
  display: flex;
  border: black 1px solid;
  padding: 10px;
}

.score-img {
  width: 80px;
  height: 80px;
  background: orange;
  border-radius: 5px;
}

.score-img p {
  text-align: center;
  line-height: 80px;
  white-space: nowrap;
  font-size: 1.2em;
}

.score-preview-container {
  margin-left: 15px;
  height: 80px;
  width: 80px;
  background: rgba(128, 128, 128, 0.363);
  border-radius: 5px;
  font-size: 1.3em;
  cursor: pointer;
}

.score-preview {
  text-align: center;
  line-height: 80px;
  white-space: nowrap;
}

.coverScorePreview {
  position: absolute;
  z-index: 100;
  margin-left: 15px;
  height: 80px;
  width: 80px;
}

.score-name {
  line-height: 80px;
  white-space: nowrap;
  margin-left: 15px;
}

.focused {
  background: rgb(44, 42, 42);
}

.btnContainer {
  display: flex;
  margin-bottom: 10px;
}

.readOnly {
  color: gray;
  border: solid 1px gray;
}

.readOnly:hover {
  background: white;
}

.invisible {
  display: none;
}

.selected {
  background: rgb(16, 16, 156);
  color: white;
}

.selectedForTotal {
  background: rgb(16, 16, 156);
  color: white;
}

.scoreTotal {
  width: 300px;
  height: 50px;
  border: black 2px solid;
  margin-bottom: 20px;
}

.scoreTotal p {
  text-align: center;
  font-size: 2em;
  line-height: 45px;
  white-space: nowrap;
}

.bonusYamsValid {
  width: 20px;
  white-space: nowrap;
  line-height: 20px;
  margin: 31px 0 0 10px;
}

.bonusYamsValidDisplay {
  font-size: 0.7em;
  background: yellow;
  border-radius: 20px;
}

#one {
  grid-area: 1 / 1 / 2 / 2;
}

#two {
  grid-area: 2 / 1/3/2;
}

#three {
  grid-area: 3/1/4/2;
}

#four {
  grid-area: 4/1/5/2;
}

#five {
  grid-area: 5/1/6/2;
}

#six {
  grid-area: 6/1/7/2;
}

#brelan {
  grid-area: 1/2/2/3;
}

#carre {
  grid-area: 2/2/3/3;
}

#full {
  grid-area: 3 /2/4/3;
}

#small {
  grid-area: 4/2/5/3;
}

#large {
  grid-area: 5/2/6/3;
}

#yams {
  grid-area: 6/2/7/3;
}

#luck {
  grid-area: 7/2/8/3;
}

#bonus {
  grid-area: 7/1/8/2;
}

@media screen and (max-width: 710px) {
  body {
    width: 100%;
    align-items: center;
    height: auto;
  }

  .diceContainer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
  }

  .dice {
    width: 18%;
    height: auto;
    min-height: 64px;
  }

  .diceNumber {
    font-size: 2.5em;
    line-height: 60px;
  }

  .scoreTotal {
    width: 40%;
    margin-bottom: 10px;
    height: 30px;
  }

  .scoreTotal p {
    line-height: 30px;
    font-size: 1.4em;
  }

  .scoreContainer {
    width: 90%;
    grid-template: repeat(7, 70px) / repeat(2, 1fr);
  }

  .score,
  .bonus {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .score-img {
    width: 50px;
    height: 50px;
  }

  .score-img p {
    line-height: 50px;
    font-size: 1em;
  }

  .score-preview-container {
    margin-left: 5px;
    height: 50px;
    width: 50px;
  }

  .score-preview {
    line-height: 50px;
  }

  .coverScorePreview {
    position: absolute;
    z-index: 100;
    margin-left: 5px;
    height: 50px;
    width: 50px;
  }

  .score-name {
    display: none;
  }

  .bonusYamsValid {
    line-height: 20px;
    margin: 14px 0 0 5px;
  }

  .btnContainer {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .launchDice {
    width: 80px;
    height: 60px;
  }

  .launchDice p {
    line-height: 60px;
    white-space: nowrap;
  }

  .launchDice:hover {
    background-color: initial;
    cursor: initial;
  }

  .play {
    width: 80px;
    height: 60px;
  }

  .play p {
    line-height: 60px;
    white-space: nowrap;
  }

  .coverPlay {
    width: 80px;
    height: 60px;
    margin-left: 10px;
  }

  .coverLaunchDice {
    width: 80px;
    height: 60px;
  }

  .play:hover {
    background-color: initial;
    cursor: initial;
  }

  .reset {
    height: 60px;
  }

  .reset p {
    line-height: 60px;
    white-space: nowrap;
  }

  .reset:hover {
    background-color: initial;
    cursor: initial;
  }

  .focused {
    color: white;
  }

  .readOnly {
    color: red;
  }

  .readOnly:hover {
    background: initial;
  }
}
