@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Kumbh+Sans:wght@400;700&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 100;
  text-align: center;
  margin-top: 40px;
  font-family: "Bungee Inline", cursive, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 100px;
}

.navDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: grid;
  grid-template: 45px 7px 100px 20px 40px 10px 40px 20px / repeat(5, 1fr);
  width: 60%;
  border: 1px black solid;
  border-radius: 10px;
}

.submitBtn {
  width: auto;
  height: auto;
  background: cyan;
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  border-radius: 5px;
}

.startGameBtn {
  width: 50px;
  height: 50px;
  line-height: 46px;
  white-space: nowrap;
  background: gray;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
}

.startGameBtn:hover {
  background: #000;
  color: gray;
  border: gray 1px solid;
}

.lastPropose {
  grid-row: 5 / 6;
  grid-column: 2 / 5;
  text-align: center;
  font-size: 2.5em;
}

#playerPropose {
  grid-column: 2 / 5;
  margin-top: 7px;
  text-align: center;
}

.statusLeft {
  grid-row: 5 / 6;
}

.statusRight {
  grid-row: 5 / 6;
  grid-column: 5;
  text-align: end;
}

.resultStatus {
  grid-row: 7 / 8;
  grid-column: 2 / 5;
  text-align: center;
  line-height: 40px;
  white-space: nowrap;
}

.count {
  grid-column: 1;
  grid-row: 1;
  line-height: 45px;
  white-space: nowrap;
  margin-left: 10px;
}
