@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.modale {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.774);
}
.modale__container {
  background: white;
  padding: 60px;
  border-radius: 10px;
}
.modale__container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.modale__container__closeBtn {
  position: relative;
  float: right;
  margin: -30px -30px 0 0;
}
.modale__container__closeBtn:hover {
  opacity: 0.5;
  cursor: pointer;
}
.modale--off {
  display: none;
}

#hambBtn {
  position: absolute;
  top: 12px;
  left: 12px;
}
#hambBtn:hover {
  opacity: 0.5;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  user-select: none;
}
header img {
  height: 15px;
}
header h1 {
  text-align: center;
}

.menu {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  background: white;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  padding: 0 30px 30px 0;
  border-radius: 0 0 10px 0;
}
.menu__closeBtn {
  margin: 12px 0 0 13px;
}
.menu__closeBtn:hover {
  opacity: 0.5;
  cursor: pointer;
}
.menu ul {
  padding-left: 13px;
  margin-top: 15px;
}
.menu ul li {
  list-style: none;
  margin: 5px;
}
.menu ul li:hover {
  opacity: 0.5;
  cursor: pointer;
}
.menu--off {
  display: none;
}
.menu a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  justify-content: center;
  user-select: none;
}

.gameContainer {
  display: grid;
  grid-gap: 5px;
}
.gameContainer--12 {
  grid-template: 80px 80px 80px/112.58px 112.58px 112.58px 112.58px;
}
@media screen and (max-width: 750px) {
  .gameContainer--12 {
    grid-template: 53.33px 53.33px 53.33px/75.05px 75.05px 75.05px 75.05px;
  }
}
@media screen and (max-width: 500px) {
  .gameContainer--12 {
    grid-template: 75.05px 75.05px 75.05px/53.33px 53.33px 53.33px 53.33px;
  }
}
.gameContainer--16 {
  grid-template: 80px 80px 80px 80px/112.58px 112.58px 112.58px 112.58px;
}
@media screen and (max-width: 750px) {
  .gameContainer--16 {
    grid-template: 53.33px 53.33px 53.33px 53.33px/75.05px 75.05px 75.05px 75.05px;
  }
}
@media screen and (max-width: 500px) {
  .gameContainer--16 {
    grid-template: 75.05px 75.05px 75.05px 75.05px/53.33px 53.33px 53.33px 53.33px;
  }
}
.gameContainer--20 {
  grid-template: 80px 80px 80px 80px/112.58px 112.58px 112.58px 112.58px 112.58px;
}
@media screen and (max-width: 750px) {
  .gameContainer--20 {
    grid-template: 53.33px 53.33px 53.33px 53.33px/75.05px 75.05px 75.05px 75.05px 75.05px;
  }
}
@media screen and (max-width: 500px) {
  .gameContainer--20 {
    grid-template: 75.05px 75.05px 75.05px 75.05px/53.33px 53.33px 53.33px 53.33px 53.33px;
  }
}
.gameContainer--24 {
  grid-template: 80px 80px 80px 80px/112.58px 112.58px 112.58px 112.58px 112.58px 112.58px;
}
@media screen and (max-width: 750px) {
  .gameContainer--24 {
    grid-template: 53.33px 53.33px 53.33px 53.33px/75.05px 75.05px 75.05px 75.05px 75.05px 75.05px;
  }
}
@media screen and (max-width: 500px) {
  .gameContainer--24 {
    grid-template: 75.05px 75.05px 75.05px 75.05px/53.33px 53.33px 53.33px 53.33px 53.33px 53.33px;
  }
}
.gameContainer--30 {
  grid-template: 80px 80px 80px 80px 80px/112.58px 112.58px 112.58px 112.58px 112.58px 112.58px;
}
@media screen and (max-width: 750px) {
  .gameContainer--30 {
    grid-template: 53.33px 53.33px 53.33px 53.33px 53.33px/75.05px 75.05px 75.05px 75.05px 75.05px 75.05px;
  }
}
@media screen and (max-width: 500px) {
  .gameContainer--30 {
    grid-template: 75.05px 75.05px 75.05px 75.05px 75.05px/53.33px 53.33px 53.33px 53.33px 53.33px 53.33px;
  }
}
.gameContainer--36 {
  grid-template: 80px 80px 80px 80px 80px 80px/112.58px 112.58px 112.58px 112.58px 112.58px 112.58px;
}
@media screen and (max-width: 750px) {
  .gameContainer--36 {
    grid-template: 53.33px 53.33px 53.33px 53.33px 53.33px 53.33px/75.05px 75.05px 75.05px 75.05px 75.05px 75.05px;
  }
}
@media screen and (max-width: 500px) {
  .gameContainer--36 {
    grid-template: 75.05px 75.05px 75.05px 75.05px 75.05px 75.05px/53.33px 53.33px 53.33px 53.33px 53.33px 53.33px;
  }
}
.gameContainer__container:hover {
  cursor: pointer;
}
.gameContainer__container__cards {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.gameContainer__container__cards__front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
}
.gameContainer__container__cards__front img {
  width: 112.58px;
}
@media screen and (max-width: 750px) {
  .gameContainer__container__cards__front img {
    width: 75.05px;
  }
}
@media screen and (max-width: 500px) {
  .gameContainer__container__cards__front img {
    transform: rotateZ(90deg) translateX(15%) translateY(21%);
  }
}
.gameContainer__container__cards__back {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: solid rgba(0, 0, 0, 0.247) 1px;
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  position: absolute;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}
.gameContainer__container__cards__back__value {
  font-size: 2.2em;
}
.gameContainer__container--invisible {
  opacity: 0;
  pointer-events: none;
}
.gameContainer__container--off {
  display: none;
}

.turn .gameContainer__container__cards {
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.resultContainer {
  margin-top: 80px;
  text-align: center;
}
.resultContainer h3 {
  margin: 20px 0 40px 0;
}
.resultContainer__newBtn {
  width: 110px;
  height: 40px;
  font-weight: bold;
  border-radius: 40px;
  border: 5px solid black;
  background: #dad9d9;
}
.resultContainer__newBtn:hover {
  background: black;
  color: #dad9d9;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
